<!DOCTYPE html>
<html>
<head>

    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <!--Link style sheet to html; This is called a css selector-->
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    <div id="sidebar">

        <img src="~/img/photo.jpg" alt="headshot" class="headshot" />

        <div>
            <span id="username">Varderes Barsegyan</span>
        </div>

        <ul class="menu">
            <li><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>

    </div>

    <div id="wrapper">
        <div id="main">

            <div>
                <button id="sidebarToggle">Toggle Menu</button>
            </div>


            <!--Tell the layout page where to omit any content that it's getting from the actual view-->
            @RenderBody()
            <!--This is the part of the page that will be injected-->


        </div>
        <div id="footer">
            &copy; 2015 The World Ltd.
        </div>
    </div>



    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>


    <!--Scripts in a particular view are emitted here-->
    @RenderSection("scripts", false)


    <!--Load site.js from the js folder-->
    <script type="text/javascript" src="~/js/site.js">

    </script>


</body>

</html>
