.socialmedia {
    padding:10px;
    list-style-type:none;
}

.socialmedia li a{
    font-style:normal;
    padding:10px;
    float:left;
}

#shortbio{
    font-style:normal;
    font-size: 20px;
}

.currentstatus{
    outline: 2px solid black;
    outline-offset: -10px;
}