@font-face {
	font-family: Facile Sans;
	src: url('../fonts/Facile Sans.otf') format('opentype'), url('../fonts/Facile Sans.ttf') format('truetype');
}

#introduction{
    background-color: #E1F5C4;
    vertical-align: middle;
    height: 100vh;
    padding-top: 30px;
}

#introtext{
    font-family: 'Facile Sans';
}

#introtextacademia{
    font-family: 'Facile Sans';
    padding-top: 15px;
}

#academiclinks{
    text-decoration:none;   
    color: #547a82;
}

#academiclinks:hover{
    color: gray;
}

.socialmedia {
    text-align:center;
    list-style:none;
    float: none;
    display: table;
    margin: 0 auto;
    padding-bottom: 30px;
}

.socialmedia li{
    display: inline;
}

.socialmedia li a{
    font-style:normal;
    float:left;
}

#socialmediamenu{
    background-color: #E1F5C4;
}

#mainmenu{
    background-color: #A2D4AB;
    text-align:center;
}

div.menuitems div.row {
    padding: 5px;
}

div.menuitems a{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-size: 24px;
    font-family: 'Facile Sans';
    color: white;
    text-decoration: none;
}

div.menuitems a:hover{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    color: gray;
}

#copiedText{
    text-align:center;
    position: absolute;
    left: -15%;
    padding: 20px;
    font-size: 15px;
    font-family: 'Facile Sans';
    color: aliceblue;
    padding: 5px;
}

#aboutsection{
    font-family: 'Facile Sans';
    padding-bottom: 15px;
}

#aboutme{
    padding: 15px;
    background-color: #83EACA;
}

#mainphoto{
    padding: 0 0 25px 0;
}

#greetingtext{
    color: white;
    font-family: 'Facile Sans';
    font-size: 24px;
}

.twitterfeed{
    text-align: center;
    background-color: #547a82;
}
