body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.menu{
    font-size:20px;
    list-style-type:none;
    overflow: hidden;
    background-color:black;
}

.menu li a{
    display: block;
    float:left;
    padding: 16px;
}

.menu li a:hover{
    background-color:white;
}

#sidebar{
    position:fixed;
    height: 100%;
    width:220px;
    margin:0 0 0 0;
}

#wrapper{
    margin: 0 0 0 220px;
}

.mainphoto{
}

