/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#sidebar{
    position:fixed;
    height: 100%;
    width:240px;
    left: 0;
    margin:0;
    transition: left ease .8s;
}

#sidebar.hide-sidebar{
    transition: left ease .8s;
}

#wrapper{
    margin: 0 0 0 240px;
    transition: margin ease .8s;
}

#wrapper.hide-sidebar{
    margin-left: 0;
    transition: margin-left ease .8s;
}


.nav {
    margin: 0;
    font-size: 20px;
}

.text-center{
    margin-bottom:25px;
}

#sidebarToggle{
    background-color: dodgerblue;
}

#menuitems{
    margin: 2px 0 0 0;
}

#socialmediaitems {
}

#navbar{
    
}