<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Varderes - @ViewBag.Title</title>


    <link rel="stylesheet" href="~/css/site.css"/>

</head>

<body>

    <div id="sidebar">
        <a asp-controller="Home" asp-action="Index">  
            <img src="~/images/photo.jpg" class="mainphoto"/>
        </a>
        <h1>Varderes Barsegyan</h1> 
    </div>



    <div id="wrapper">
        <ul class="menu">
            <li><a asp-controller="Home" asp-action="Projects">Projects</a></li>
            <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
            <li><a asp-controller="Home" asp-action="Resume">Resume</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>

        <div>
            @RenderBody()
        </div>

    </div>


    

    @RenderSection("scripts", required: false)


</body>
</html>
