/*site.css*/
body{
    font-family: sans-serif;
    font-size: 14px;
    /*cut out default margins*/
    margin: 0;

}

/*Find all of the elements on the page that match 'label' and style them with the following attributes*/
label{
    font-weight: bold;
    color: blue;
    /*Labels get their own lines*/
    display:block;
}

/*Apply to all three types*/
input[type=text], input[type=password], textarea{
    width:150px;
}

/*id's can be pointed to with a hashtag*/
#main{
    background-color: rgb(177, 177, 177);
    padding: 9px;
    margin: 0;
}

#main.trigger-main{
   background-color: aqua;
}

#footer{
    background-color: rgb(0, 0, 0);
    color: #516000;
    padding: 8px 5px;
    position:fixed;
    bottom: 0;
    width: 100%;
}

#username{
    color: white;
}

.headshot {
    max-width: 237px;
    border: 3px solid;
    border-color: rgb(177, 177, 177);
    padding: 3px;
}

.menu {
    font-size: 30px;
    height: 40px;
    list-style-type: none;
    color: white;
}


/*only match to li's who have the class active, not who have an object inside of them that is active*/
.menu li a{
    font-weight:bold;
    color:white;
    font-family:'Berlin Sans FB';
}

#sidebar{
    background: #2a2c36;
    color: #eee;
    /*Because it is fixed it will be drawn on top of all other elements*/
    position: fixed;
    /*Going to take the height of the entire page up to 250px to the right*/
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    
    transition: left ease .20s;
}

#sidebar.hide-sidebar{
    left: -250px;
    transition: left ease .20s;
}

#wrapper{
    /*Set left margin to be the same size as the width of the sidebar*/
    margin: 0 0 0 250px;
    transition: margin ease .20s;
}

#wrapper.hide-sidebar{
    margin-left: 0;
    transition: margin-left ease .20s;
}




