@model PersonalWebsite.ViewModel.ContactViewModel

@{
    ViewBag.Title = "Contact";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Varderes - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/IndexDesign.css" />
</head>

<!--post method is used for controller, where support for it is added-->
<form class="contactform" method="post">
    <div>
        <label asp-for="Name"></label>
    </div>
    <div>
        <input asp-for="Name" type="text" required/>
        <span asp-validation-for="Name"></span>
    </div>


    <div>
        <label asp-for="Email"></label>
    </div>
    <div>
        <input asp-for="Email" type="email" required/>
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Message"></label>
    </div>
    <div>
        <textarea asp-for="Message" required></textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <input type="submit" value="Send" />
</form>





