@{
    ViewBag.Title = "Home";
}

@section scripts{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="~/js/index.js"></script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Varderes - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/IndexDesign.css" />
</head>



<div class="grid">
    <div class="row">
        <div class="">
            <h3 class="text-center" id="shortbio">
                I am an aspiring software developer and data scientist focused on healthcare informatics, specifically innovating healthcare technology using artificial intelligence.
            </h3>
        </div>
    </div>
    <div class="row currentstatus" id="currentstatus">
        <div class="col-md-6">
            <h2 class="text-left">test</h2>
        </div>
    </div>
</div>


