@{
    ViewBag.Title = "Home";
}

@section scripts{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/index.js"></script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Varderes - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/IndexDesign.css" />
</head>


<body>
    <div>
        <h3 class="shortbio" id="shortbio">
            I am an aspiring software developer and data scientist focused on healthcare informatics, biomedical devices, and artificial intelligence applications in health.
        </h3>

    </div>
</body>


<body>
    <div>

        <ul class="socialmedia" id="socialmedia">
            <li id="test">
                <a href="https://github.com/Vardominator">
                    <img src="~/images/github.png" />
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/barsegyanvarderes">
                    <img src="~/images/linkedinlogo.png" />
                </a>
            </li>

            <li>
                <a href="https://twitter.com/Varderes">
                    <img src="~/images/twitterlogo.png" />
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/vardo.barsegyan">
                    <img src="~/images/facebooklogo.png" />
                </a>
            </li>
        </ul>

    </div>



</body>