@{
    ViewBag.Title = "Home";
}

@section scripts{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/index.js"></script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Varderes - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/IndexDesign.css" />
</head>


<body>
    <div>
        <h3 class="shortbio" id="shortbio">
            I am an aspiring software developer and data scientist focused on healthcare informatics, biomedical devices, and artificial intelligence applications in health.
        </h3>

    </div>
</body>


<body>




</body>