@{
    ViewBag.Title = "Home";
}

<h1>Varderes Barsegyan</h1>


<div>
    <a href="https://github.com/Vardominator">
        <img src="~/images/githublogo.png" />
    </a>

    <a href="https://www.linkedin.com/in/barsegyanvarderes">
        <img src="~/images/linkedinlogo.png" />
    </a>

    <a href="https://twitter.com/Varderes">
        <img src="~/images/twitterlogo.png" />
    </a>

    <a href="https://www.facebook.com/vardo.barsegyan">
        <img src="~/images/facebooklogo.png" />
    </a>

</div>